<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>글쓰기</title>
	<link rel="stylesheet" href="/static/css/style.css">
<script type="text/javascript">
//유효성 검사 - 공백 처리 안되게


</script>
</head>
<body>
	<div id="container">
		<h2>글쓰기</h2>
		<form th:action="@{insertBoard}" method="post">
			<table class="tbl_reg">
				<tbody>
					<tr>
						<td> 제목</td>
						<td><input type="text" name="title" id="title" placeholder="제목"></td>
					</tr>
					<tr>
						<td>작성자</td>
						<td><input type="text" name="writer" th:value="${session['member'].name}"></td>
					</tr>
					<tr>
						<td>내용</td>
						<td>
							<textarea rows="10" cols="50" name="content" id="content" placeholder="내용"></textarea>
						</td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<button type="submit">글쓰기</button>
						</td>
					</tr>
				
				</tbody>
				
			</table>
		</form>
	</div>
</body>
</html>