<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>메뉴바</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<!-- <div th:replace="~{menu :: navbar}"></div> -->
	<div th:fragment="navbar" class=navbox>
	<nav>
		<th:block th:if="${session['member'] == null}">
			<ul>
				<li><a th:href="@{/}">Home</a></li>
				<li><a th:href="@{/signup}">회원가입</a></li>
				<li><a th:href="@{/login}">로그인</a></li>
				<li><a th:href="@{/}">회원목록</a></li>
				<li><a th:href="@{/getBoardList}">게시판</a></li>
			</ul>
		</th:block>
		<th:block th:if="${session['member'] != null}">
			<ul>
				<li><a th:href="@{/}">Home</a></li>
				<li><a th:href="@{/mypage}">나의 정보</a></li>
				<li><a th:href="@{/logout}">로그아웃</a></li>
				<li><a th:href="@{/}">회원목록</a></li>
				<li><a th:href="@{/getBoardList}">게시판</a></li>
			</ul>
		</th:block>
	</nav>
	</div>
</body>
</html>