<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>나의정보</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div th:replace="~{menu :: navbar}"></div>
	<div id="container">
		<h2>나의 정보</h2>
		<form th:action="@{/mypage}" method="post">
			<table class="tbl_login">
				<tbody>
					<tr>
						<td th:text="아이디"></td>
						<td><input type="text" name="id"></td>
						<!-- <td><input type="text" name="id" th:value="${member.id}"></td> -->
					</tr>
					<tr>
						<td th:text="비밀번호"></td>
						<td><input type="password" name="password"></td>
					</tr>
					<tr>
						<td th:text="비밀번호확인"></td>
						<td><input type="password" name="password_confirm"></td>
					</tr>
					<tr>
						<td th:text="이름"></td>
						<td><input type="text" name="name"></td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<button type="submit">수정</button>
							<button type="reset">취소</button>
						</td>
					</tr>
				</tbody>
			
			</table>
		
		
		</form>
	</div>

</body>
</html>